$color_1: #444444;
$color_2: #18d26e;
$color_3: rgba(255, 255, 255, 0.5);
$color_4: #fff;
$color_5: rgba(255, 255, 255, 0.3);
$background-color_1: rgba(255, 255, 255, 0.11);
$border-top-color_1: #eee;

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.contact {
	.info-box {
		color: $color_1;
		padding: 20px;
		width: 100%;
		background: rgba(255, 255, 255, 0.08);
		i.bx {
			font-size: 24px;
			color: $color_2;
			border-radius: 50%;
			padding: 14px;
			float: left;
			background: rgba(255, 255, 255, 0.1);
		}
		h3 {
			font-size: 20px;
			color: $color_3;
			font-weight: 700;
			margin: 10px 0 8px 68px;
		}
		p {
			padding: 0;
			color: $color_4;
			line-height: 24px;
			font-size: 14px;
			margin: 0 0 0 68px;
		}
		.social-links {
			margin: 5px 0 0 68px;
			display: flex;
			a {
				font-size: 18px;
				display: inline-block;
				color: $color_4;
				line-height: 1;
				margin-right: 12px;
				transition: 0.3s;
				&:hover {
					color: $color_2;
				}
			}
		}
	}
	.php-email-form {
		padding: 30px;
		background: rgba(255, 255, 255, 0.08);
		.error-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: $color_4;
			padding: 10px 15px;
			&:focus {
				background-color: $background-color_1;
			}
			&::-moz-placeholder {
				color: $color_5;
				opacity: 1;
			}
			&::placeholder {
				color: $color_5;
				opacity: 1;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: $color_4;
			padding: 12px 15px;
			&:focus {
				background-color: $background-color_1;
			}
			&::-moz-placeholder {
				color: $color_5;
				opacity: 1;
			}
			&::placeholder {
				color: $color_5;
				opacity: 1;
			}
		}
		button[type=submit] {
			background: #18d26e;
			border: 0;
			padding: 10px 30px;
			color: $color_4;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: #15bb62;
			}
		}
	}
}
